{% extends "layout3.html" %}
{% block content %}
<legend>学生管理</legend>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.student_id.label(class="form-control-label") }}
                    {{form.student_id(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{form.student_name.label(class="form-control-label") }}
                    {{form.student_name(class="form-control form-control-lg") }}
                </div>
               
                <div class="form-group">
                    {{form.student_dept.label(class="form-control-label") }}
                    {{form.student_dept(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-green") }}
            </div>
        </form>
    </div>
{% endblock %}