{% extends "layout3.html" %}
{% block content %}
<legend>课程管理</legend>
<div><a href="{{url_for('add_course')}}">添加课程</a></div>
    {% if courses %}
      <table class="table table-striped">
        <thead>
            <td>课程号</td>
            <td>课程名</td>
            <td>授课老师</td>
            <td>学分</td>
            <td>上课时间</td>
            <td>人数限制</td>
            <td>是否开课</td>
        </thead>
        {% for course in courses %}
        <tr>
            <td>{{course.course_id}}</td>
            <td>{{course.course_name}}</td>
            <td>{{course.course_teacher}}</td>
            <td>{{course.course_xuefen}}</td>
            <td>{{course.course_time}}</td>
            <td>{{course.course_maxn}}</td>
            {% if course.course_open %}
            <td>是</td>
            {% else %}
            <td>否</td>
            {% endif %}
            <td><a href="{{url_for('admin_delete_course',s_id=course.course_id)}}">删除</a></td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>暂时没有课程哦</p>
      {% endif %}

{% endblock %}