{% extends "layout2.html" %}
{% block content %}
{% if students %}
      <table class="table table-striped">
        <strong>{{course_name}}分数统计</strong>
        <thead>
            <td>学生号</td>
            <td>学生姓名</td>
            <td>分数</td>
        </thead>
        {% for student in students %}
          <tr> 
            <td>{{student.student_id}}</td>
            <td>{{student.student_name}}</td>
            {% if student.grade %}
            <td>{{student.grade}}</td>
            {% else %}
            <td>尚未发布</td>
            {% endif %}
          </tr> 
        {% endfor %}
      </table>
      {% else %}
      <p>暂时没有人选您的课哦</p>
      {% endif %}
{% endblock content%}