{% extends "layout2.html" %}
{% block content %}
{% if courses %}
      <table class="table table-striped">
        <strong>已授课程</strong>
        <thead>
            <td>课程号</td>
            <td>课程名</td>
        </thead>
        {% for course in courses %}
        <tr>
            <td><a href="{{url_for('teacher_grade',course_id=course.course_id,course_name=course.course_name)}}">
              {{course.course_id}}</a></td>
            <td>{{course.course_name}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>暂时没有人选您的课哦</p>
      {% endif %}
{% endblock content%}